<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Properties and values example</title>


    <style>
        div {
            background-color: yellow;
            font-size: 20px;
            margin: 20px;
            padding: 10px;
        }


    </style>

    
</head>
<body>


    <div>This is a styled div element</div>
    
</body>
</html>
