<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        div {
            width: 200px;
            height: 100px;
            padding: 20px;
            border: 2px solid black;
            margin: 20px;
            background-color: lightgray;
        }


    </style>
</head>
<body>

    <div>This is a styled division with bo level properties</div>
    
</body>
</html>
